* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    width: 100%;
    height: 100%;
  }
  
  #container {
    width: 100%;
    height: 100%;
    text-decoration-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 10px;
    border-radius: 5px;
    border-color: green;
    border-style: dashed;
  }
  
  #notes {
    margin: 10px;
    border: 10px;
    border-radius: 5px;
    border-color: black;
    border-style: dashed;
  }
  
  #container div {
    background-color: white;
  }
  
  #container input,
  #container textarea {
    margin: 10px;
  }
  
  #container button {
    margin-top: 10px;
  }
  
  #bottom {
    margin-top: 20px;
  }
  
  #bottom p {
    margin: 0;
  }
  #myDiv {
    position: relative;
    width: 200px;
    height: 200px;
    border: 1px solid black;
  }
  
  #closeButton {
    position: absolute;
    top: 0;
    right: 0;
  }